.container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 25rem;
}
.container__right {
  top: 0;
  right: 0;
}

.container__left {
  top: 0;
  left: 0;
}

.container__top {
  justify-content: center;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
}

.container__bottom {
  bottom: 0;
  justify-content: center;
  left: 0;
  margin: auto;
  right: 0;
}
